.article-preview {
  border-bottom: 1px solid darken($color-background, 30%);
  display: flex;
  padding-bottom: 1rem;

  &:first-of-type {
    margin-top: 1rem;
  }

  &__image {
    margin: 1rem 1rem 0 0;

    * {
      width: 100px;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid lighten($color-background-dm, 30%);
  }
}
