// Colors: lm = light mode, dm = dark mode.
//

$color-primary: #555;
$color-secondary: #00ABFA;
$color-tertiary: #FF910A;
$color-background: #fff;

// Dark Mode
$color-primary-dm: #fff;
$color-secondary-dm: #00ABFA;
$color-tertiary-dm: #FF910A;
$color-background-dm: #000;
